body{
    background-color: rgb(50, 50, 50);
    padding: 20px;
}
.main{
    font-family: 'Rammetto One', cursive;
    color: white;
    background-color: rgb(31, 64, 31);
    text-align: center;
    border: 5px solid rgb(182, 255, 150);
    width: 500px;
}
#btn{
    padding: 5px 10px;
    color: red;
    border: 2px solid red;
    background-color: yellow;
}